<?xml version="1.0"?>

<model>
  <name>Grass Plane</name>
  <version>1.0</version>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Based on Thomas Koletschka model</name>
    <email>Based on thomas.koletschka@gmail.com model</email>
  </author>

  <description>
    A grass textured plane.
  </description>

</model>
