<?xml version="1.0"?>
<launch>
    <!-- MAVROS posix SITL environment launch script -->
    <!-- launches Gazebo environment and 2x: MAVROS, PX4 SITL, and spawns vehicle -->
    <!-- vehicle model and world -->
    <arg name="est" default="ekf2"/>
    <arg name="vehicle" default="quad_f450_camera"/>
    <arg name="world" default="$(find mavlink_sitl_gazebo)/worlds/grass_pad.world"/>
    <!-- gazebo configs -->
    <arg name="gui" default="true"/>
    <arg name="debug" default="false"/>
    <arg name="verbose" default="false"/>
    <arg name="paused" default="false"/>
    <!-- Gazebo sim -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="gui" value="$(arg gui)"/>
        <arg name="world_name" value="$(arg world)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="verbose" value="$(arg verbose)"/>
        <arg name="paused" value="$(arg paused)"/>
    </include>

    <group ns="uav0">
    	<!-- MAVROS and vehicle configs -->        
    	<arg name="ID" value="0"/>
    	<arg name="fcu_url" default="udp://:14540@localhost:14580"/>
        <arg name="respawn_mavros" default="false"/>
    	<!-- PX4 SITL and vehicle spawn -->
       	<!-- Posix SITL environment launch script -->
        <!-- launchs PX4 SITL and spawns vehicle -->
        <!-- vehicle pose -->
        <arg name="x" default="0"/>
        <arg name="y" default="0"/>
        <arg name="z" default="0.3"/>
        <arg name="R" default="0"/>
        <arg name="P" default="0"/>
        <arg name="Y" default="0"/>
        <!-- vehcile model and config -->
        <env name="PX4_SIM_MODEL" value="$(arg vehicle)" />
        <env name="PX4_ESTIMATOR" value="$(arg est)" />
        <arg name="mavlink_udp_port" default="14560"/>
        <arg name="mavlink_tcp_port" default="4560"/>
        <!-- PX4 configs -->
        <arg name="interactive" default="true"/>

        <!-- generate urdf vehicle model -->
        <arg name="cmd" default="$(find xacro)/xacro $(find px4)/Tools/sitl_gazebo/models/quad_f450_camera/urdf/quad_base.xacro quad_f450_camera_dir:=$(find px4)/Tools/sitl_gazebo/models/quad_f450_camera mavlink_udp_port:=$(arg mavlink_udp_port) mavlink_tcp_port:=$(arg mavlink_tcp_port) --inorder"/>
        <param command="$(arg cmd)" name="rotors_description"/>
        <!-- PX4 SITL -->
        <arg unless="$(arg interactive)" name="px4_command_arg1" value=""/>
        <arg     if="$(arg interactive)" name="px4_command_arg1" value="-d"/>
        <node name="sitl_$(arg ID)" pkg="px4" type="px4" output="screen" args="$(find px4)/ROMFS/px4fmu_common -s etc/init.d-posix/rcS -i $(arg ID) -w sitl_$(arg vehicle)_$(arg ID) $(arg px4_command_arg1)">
        </node>
        <!-- spawn vehicle -->
        <node name="$(arg vehicle)_$(arg ID)_spawn" output="screen" pkg="gazebo_ros" type="spawn_model" args="-urdf -param rotors_description -model $(arg vehicle)_$(arg ID) -package_to_model -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y)"/>

    	<!-- MAVROS -->
        <include file="$(find mavros_off_board)/launch/px4_modify.launch">
            <!-- GCS link is provided by SITL -->
            <arg name="gcs_url" value=""/>
            <arg name="fcu_url" value="$(arg fcu_url)"/>
            <arg name="tgt_system" value="$(eval 1 + arg('ID'))"/>
            <arg name="tgt_component" value="1"/>
        </include>

    </group>

    <!-- IMAGE VIEWER NODE -->
    <node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
        <remap from="image" to="/quad_f450_camera_0/camera_quad_f450/image_raw" />
    <param name="autosize" value="true" />
    </node> 

    <!-- Robot description -->
    <param name="robot_description" textfile="$(find mavros_off_board)/urdf/quad_f450_camera.urdf" /> 

    <!-- Robot State Publisher TF -->  
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
        <param name="publish_frequency" type="double" value="30.0" />
    </node> 

    <!-- Robot Joint Publisher  -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" /> 

    <!-- Launch visualization in rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mavros_off_board)/urdf.rviz" required="true" /> 

</launch>

